.ItemDetailTitle{
    background-color: #7d5f56;
    color: #f4e3d3;
    border: #7d5f56;
}

.ItemCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0 2rem 2rem 2rem;
}
.ImgCard{
    width: 17rem;
    height: 23rem;
}
.NombreCard{
    align-self: center;
    font-size: 1.3rem;
    color: #f4e3d3;
}

.PrecioCard{
    list-style: none;
    font-size: 1.3rem;
    color: #f4e3d3;
}
.AgregarCard{
    background-color: #f4e3d3;
    color: #7d5f56;
    font-size: 1rem;
    border: #7d5f56;
    width: auto;
    height: 2rem;
}
.DivItemList{
    display: flex;
    flex-wrap: wrap;
}