.Div1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.CarritoDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4e3d3;
    border: #f4e3d3;
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.Carrito{
    display: flex;
    justify-content: center;
}
.DivNombre, .DivPrecio, .DivCount{
    padding: 0 4rem 0 0;
    font-size: 2rem;
    color: #7d5f56;
}
.XCarrito{
    width: 1.4rem;
    height: 1.4rem;
    padding: 1rem;
}
.TituloP{
    color: #f4e3d3;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-right: 3rem;
}
.BotonCarrito{
    background-color: #f4e3d3;
    border: #f4e3d3;
    color: #7d5f56;
    text-transform: uppercase;
    font-size: 1rem;
    margin-left: 3rem;
}
.DivTotalVaciar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TituloH2{
    color: #f4e3d3;
    font-size: 1.5rem;
}
.LinkComprar{
    font-size: 1.5rem;
    background-color: #f4e3d3;
    border: #f4e3d3;
    color: #7d5f56;
    border-radius: 1rem;
    padding: 0.3rem;
    text-decoration: none;
    margin-top: 3rem;
}