.NavBar{
    background-color: #f4e3d3;
}
.NavBarDiv{
    display: flex;
    justify-content: space-between;
}
.NavBarH1{
    color: #7d5f56;
    margin-left: 1rem;
}
.NavBarDivBotones{
    display: flex;
    align-items: center;
}
.NavBarButtom{
    color: #7d5f56;
    margin-right: 1rem;
}
.NavCarrito{
    width: 4rem;
    height: 4rem;
    padding: 2rem;
}
.divCarro{
    display:flex;
    font-size: 2rem;
    color: #7d5f56;
    margin-right: 3rem;
    text-decoration: none;
}
.NavLogo{
    width: 10rem;
    height: 8rem;
}
.NavBarButtom{
    text-decoration: none;
    font-size: 1rem;
    background-color: #7d5f56;
    color: #f4e3d3;
    width: 5rem;
    padding: 1rem;
    border-radius: 1.5rem;
}
.NavBarButtom:hover{
    background-color: #f4e3d3;
    color: #7d5f56;
}
.ActiveButtom{
    text-decoration: none;
    font-size: 1rem;
    background-color: #f4e3d3;
    color: #7d5f56;
    width: 5rem;
    padding: 1rem;
    border-radius: 1.5rem;
}