.ItemCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0 2rem 2rem 2rem;
    background-color: #f4e3d3;
    border-radius: 1rem;
    width: 17rem;
}
.NombreCard{
    align-self: center;
    font-size: 1.3rem;
    color: #7d5f56;
    padding: 1rem;
}

.VerDetalle{
    background-color: #7d5f56;
    color: #f4e3d3;
    font-size: 1.2rem;
    border: #f4e3d3;
    height: 2rem;
    width: 7rem;
    text-decoration: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.VerDetalle:hover{
    background-color: #f4e3d3;
    color: #7d5f56;
}